html{
  font-family: Helvetica;
  font-size: 16px;
}

body {
  line-height: 1.4;
  margin: 0 auto;
}

/*.container {
  display: flex;
  margin: auto;
}*/

h1 {
  font-weight: 800;
  padding-bottom: 1.5rem;
}

/* Header */

header img{
  padding-left: 1.5rem;
  padding-right: .2rem;
  height: 3rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 4rem;
  font-family: "Ubuntu"; "Helvetica", sans-serif;
}
nav .logo-name {
  display: flex;
  align-items: center;
}

header h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

header h4 .firstword {
  color: rgb(105, 105, 105);
}

header h4 .secondword {
  color: rgb(169, 169, 169);
}

nav ul {
  margin-right: 1.5rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
  color: rgb(105, 105, 105);
}


.left-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 1.5rem;
}

.right-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

/* Banner */
.banner {
  display: flex;
  background-color: rgb(220, 220, 220);
}

.banner .left-box img {
  padding: 2rem 1.5rem;
  height: 32rem;
}

.banner-text {
  width: 60%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(105, 105, 105);
  flex-direction: column;
  font-family: "Raleway", "Helvetica", sans-serif;
}

.banner-text h3 {
  font-weight: 400;
}
.button {
  width: 60%;
  background-color: rgb(105, 105, 105);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.5rem;
  text-align: center;
  border-radius: 25px;
}

/* Info box */
.information .left-box img{
  padding: 2rem 1.5rem;
  height: 25rem;
}
.quote {
  padding-left: 1.5rem;
  font-family: "Raleway", "Helvetica", sans-serif;
  color: rgb(105, 105, 105);
}
.quote p {
  font-weight: 400;
  padding-bottom: 1.5rem;
}

.quote span {
  font-weight: 700;
}
