html{
  font-family: "Raleway"; "Helvetica", sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.4;
  color: rgb(89, 89, 89);
  margin: 0 auto;
}
@media only screen and (max-width: 525px) {
  body {
    margin: 0 0.25rem;
  }
}
h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  color: rgb(64, 64, 64);
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(64, 64, 64);
}

h3 {
  font-size: 1.25rem;
  color: rgb(64, 64, 64);
}
.container {
  display: flex;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
}
.wide-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.narrow-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 1.5rem;
  margin-right: 1.5rem;

}
.mini-box {
  display: flex;
  align-items:flex-start;
  margin: 0 0 0.5rem 1rem;
}
.mini-box img {
  width: 35%;
  height: auto;
}
.mini-box-text a {
  color: rgb(3, 7, 125);
  font-weight: 700;
  text-decoration: none;
}
.mini-box-text a:hover {
  font-size: 1.1rem;
}
/* Header */
header {
  margin: 0 1rem 0 1rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
}
header img{
  padding-right: .2rem;
  height: 3rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 4rem;
  font-family: "Ubuntu"; "Helvetica", sans-serif;
}
nav .logo-name {
  display: flex;
  align-items: center;
}
header h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
header h4 .firstword {
  color: rgb(64, 64, 64);
}
header h4 .secondword {
  color: rgb(115, 115, 115);
}
nav ul {
  margin-right: 1.5rem;
}
ul li {
  display: inline;
  padding: 0 1rem;
}
ul li:hover {
  color: rgb(3, 7, 125);
  font-weight: 800;
}
.tablet-menu {
  display: none;
}
.mobile-menu {
  display: none;
}
@media only screen and (max-width: 880px) {
  header .menu {
    display: none;
  }
  header .tablet-menu {
    display: flex;
    width: auto;
    justify-content: space-between;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 525px) {
  header {
    padding: 0 0.75rem;
    margin: auto;
  }
  header .logo-name {
      display: none;
  }
  header .tablet-menu {
      display: none;
  }
  header .mobile-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 1rem;
  }
}

/* Banner */
.banner {
  display: flex;
  background-color: rgb(217, 217, 217);
  margin-top: 4rem;
  width: 100%;
}
.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 2rem 1.5rem;
}
.banner .narrow-box {
  justify-content: center;
  align-items: flex-start;
}
.banner-text {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 35%);
  font-family: "Raleway", "Helvetica", sans-serif;
  max-width: 85%;
  padding-bottom: 1rem;
}
.banner-text h1 {
  padding-bottom: 1rem;
}
.button {
    width: 60%;
    background-color: rgb(89,89,89);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 1rem;
  }
.button:hover {
background-color: rgb(3, 7, 125);
font-weight: 800;
}

@media only screen and (max-width: 525px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto 1rem;
  }
  .banner .wide-box {
    width: 100%;
  }
  .banner .wide-box img {
    width: auto;
    height: auto;
    padding: 1rem 1rem;
    }
  .banner .narrow-box {
    width: 100%;
  }
  .banner-text {
    padding: 0 1.5rem 0.5rem 1.5rem;
    align-items: center;
  }
  .banner-text h3 {
    margin-right: 0.5rem;
  }
  .banner .button {
    width: 50%;
    align-self: center;
    margin: 0.5rem 4rem 1rem 0;
  }
}

/* Info Box */
.info-box {
  display: flex;
  width: 100%;
}

.info-box .wide-box img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info-box .quote h1 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.info-box .quote p {
  padding-bottom: 1.5rem;
}
.info-box .quote span {
  font-weight: 700;
}
.info-box .mini-box img {
  padding: 1rem;
}
.info-box .mini-box-text {
  padding-top: 0.5rem;
}
.info-box .mini-box-text h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info-box .mini-box-text p {
  padding-bottom: 2.5rem;
}
.info-box .mini-box {
  border-top: dotted 1px rgb(89,89,89);
  border-bottom: dotted 1px rgb(89,89,89);
}
.info-box .narrow-box-mobile {
  display: none;
}

@media only screen and (max-width: 525px) {
  .info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .info-box .wide-box {
    display: none;
  }
  .info-box .narrow-box-main {
    display: none;
  }
  .info-box .narrow-box-main .mini-box{
    display: none;
  }
  .info-box .narrow-box-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .info-box .narrow-box-mobile .mini-box-mobile img {
    width: 100%;
  }
  .info-box .narrow-box-mobile .mini-box-mobile {
    margin-bottom: 2rem;
  }
  .mini-box-mobile-text p {
    display: flex;
  }
  .mini-box-mobile-text a {
    color: rgb(3, 7, 125);
    text-decoration: none;
  }
}


/*  Courses */
.course-box {
  display: inline-block;
  background-color: hsl(0, 0%, 85%);
  color: rgb(105, 105, 105);
  width: 100%;
}
.course-box h1 {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.course-array-main {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}
.course-array-mobile {
  display: none;
}
.course {
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 300px;
}
.course-text {
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.course-text h3 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.course-text #course-title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.course-text #classes {
  font-weight: 300;
  flex-direction: column;
  align-items: flex-start;
}
.course img {
  width: 300px;
}

@media only screen and (max-width: 525px) {
  .course-box {
    background-color: white;
    justify-content: center;
    width: 100%;
  }
  .course-array-main {
    display: none;
  }
  .course-array-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
  }
  .course-array-mobile h2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: hsl(0, 0%, 85%);
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
  }
}

/*Thesis Exhibit section  */
.thesis-box {
  display: inline-block;
  color: rgb(105, 105, 105);
}
.thesis-box h1 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.thesis-box h2 {
  text-align: left;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.thesis-box p {
  padding-bottom: 1.5rem;
}
.thesis-inner-box {
  display: flex;
  align-items: flex-start;
}
.thesis-box .wide-box video {
  max-width: 100%;
  height: 20.2rem;
  display: block;
}
.thesis-box .mini-box{
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 35%)
}
.thesis-box img {
  padding: 1rem;
}
.thesis-box h3 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.thesis-box .mini-box-text p {
  padding-right: 1rem;
}
@media only screen and (max-width: 525px) {
  .thesis-box .wide-box {
    width: 100%;
  }
  .thesis-box .wide-box h2, p {
    display: none;
  }
  .thesis-box .narrow-box {
    display: none;
  }
}

/* Footer */
footer p {
  display: inline;
  padding: 0 1rem;
  color: rgb(105, 105, 105);
}
@media only screen and (max-width: 525px) {
  footer ul {
    display: none;
  }
