html{
  font-family: "Raleway"; "Helvetica", sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.4;
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;

}


h1 {
  font-weight: 800;
  padding-bottom: 1.5rem;
}

/* Header */

header img{
  padding-left: 1.5rem;
  padding-right: .2rem;
  height: 3rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 4rem;
  font-family: "Ubuntu"; "Helvetica", sans-serif;
}
nav .logo-name {
  display: flex;
  align-items: center;
}

header h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

header h4 .firstword {
  color: rgb(105, 105, 105);
}

header h4 .secondword {
  color: rgb(169, 169, 169);
}

nav ul {
  margin-right: 1.5rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
  color: rgb(105, 105, 105);
}


.left-box {
  display: flex;
  flex-direction: column;
  /*padding-left: 1.5rem;*/
  width: 60%;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

/* Banner */
.banner {
  display: flex;
  background-color: rgb(220, 220, 220);
  width: 100%;
}

.banner .left-box img {
  padding: 2rem 1.5rem;
  height: 32rem;
}

.banner-text {
  /*width: 60%;*/
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(105, 105, 105);
  font-family: "Raleway", "Helvetica", sans-serif;
}

.banner-text h3 {
  font-weight: 400;
}
.button {
  width: 60%;
  background-color: rgb(105, 105, 105);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.5rem;
  text-align: center;
  border-radius: 25px;
}

/* Info box */
.information {
  display: flex;
}
.information .left-box img{
  padding: 2rem 1.5rem 1rem 1.5rem;
  height: 25rem;
}
.quote {
  padding-left: 1.5rem;
  font-family: "Raleway", "Helvetica", sans-serif;
  color: rgb(105, 105, 105);
}
.quote p {
  font-weight: 400;
  padding-bottom: 1rem;
}

.quote span {
  font-weight: 700;
}

.more-info {
  display: flex;
  flex-direction: column;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid gray 1px;
  /*margin-top: 1rem;*/
  padding-bottom: 1rem;
}
.info-box img {
  width: 35%;
  height: auto;
  padding: 1rem;
}
.info-box-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(105, 105, 105);
  padding-left: 1.5rem;
  width: 65%;
  font-family: "Raleway", "Helvetica", sans-serif;
}

.info-box-text a {
  color: rgb(30,144,255);
  text-decoration: none;
}

.info-box-text h2 {
  font-weight: 700;
}

/* Course Section */
.course-box {
  display: inline-block;
  background-color: rgb(220, 220, 220);
  text-align: center;
  color: rgb(105, 105, 105);
}
.course-box h1{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.course-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.course {
  background-color: white;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 300px;
}

.course-text {
  padding-left: 1rem;
  text-align: left;
}

.course-text #course-title {
  padding: 0.5rem 0;
}

.course-text #classes {
  font-weight: 300;
  flex-direction: column;
  align-items: flex-start;
}
.course img {
  width: 300px;
}


footer p {
  display: inline;
  padding: 0 1rem;
  color: rgb(105, 105, 105);
}
